<div class="dashboard-container">
  <header class="dashboard-header">
    <h2>Employee Dashboard</h2>
    <p>Welcome to the Employee Dashboard! Choose an action:</p>
    <div class="dashboard-actions">
      <a routerLink="/employee/register" class="action-button">Complete Registration</a>
      <a routerLink="/employee/search" class="action-button">Search Details</a>
      <a routerLink="/leave/leave-management" class="action-button">Leave</a>
      <a routerLink="/exit/submit" class="action-button">Exit</a>
    </div>
  </header>

  <!-- Logout Button -->
  <a (click)="logout()" class="logout-button">Logout</a>
</div>
